<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User Story</title>
</head>
<body>
<h1>Add User Story</h1>

<form name="userStoryForm" action="/story" method="post">

    <label for="storytitle">Story Title:</label> <br>  <br>
    <input type="text" id="storytitle" name="storytitle"   minlength="5" maxlength="100" required/> <br> <br>

    <label for="userstory">User Story:</label> <br> <br>
    <textarea id="userstory" name="userstory" rows="4" cols="50"   minlength="1" maxlength="400"  required></textarea> <br> <br>

    <label for="acceptancecriteria">Acceptance Criteria:</label> <br> <br>
    <textarea id="acceptancecriteria" name="acceptancecriteria" rows="4" cols="50"   minlength="1" maxlength="400"  required></textarea> <br> <br>

    <label for="businessvalue">Business value:</label> <br> <br>
    <input type="number" id="businessvalue" name="businessvalue"   min="0.5" max="40.0" step="0.5" required/> <br> <br>

    <label for="estimation">Estimation:</label> <br> <br>
    <input type="text" id="estimation" name="estimation"  required /><br> <br>
    <input type="submit" value="Add new User Story"> <br> <br>
</form>


</body>
</html>

